<p style="color: green"><%= notice %></p>

<% content_for :title, "Students" %>

<div class="row" style="background-color: #CCCCCC"><h1>Students</h1></div>

<div class="row">
  <div class="col"><strong>Imie:</strong></div>
  <div class="col"><strong>Nazwisko:</strong></div>
  <div class="col"><strong>Indeks:</strong></div>
  <div class="col"><strong>Data urodzenia:</strong></div>
  <div class="col"><strong>Group:</strong></div>
</div>

<div id="students">
  <% @students.each do |student| %>
    <%= render student %>
    <p>
      <%= link_to "Show this student", student, class: "btn btn-sm btn-primary" %>
    </p>
  <% end %>
</div>

<%= link_to "New student", new_student_path, class: "btn btn-sm btn-primary" %>
