<% content_for :title, "New student" %>

<div class="row" style="background-color: #CCCCCC"><h1>New student<h1></div>

<%= render "form", student: @student %>

<br>

<div>
  <%= link_to "Back to students", students_path, class: "btn btn-sm btn-primary" %>
</div>
