<% content_for :title, "Editing group" %>

<div class="row" style="background-color: #CCCCCC"><h1>Editing group<h1></div>

<%= render "form", group: @group %>

<br>

<div>
  <%= link_to "Show this group", @group, class: "btn btn-sm btn-primary" %> |
  <%= link_to "Back to groups", groups_path, class: "btn btn-sm btn-primary" %>
</div>
