<p style="color: green"><%= notice %></p>

<% content_for :title, "Groups" %>

<div class="row" style="background-color: #CCCCCC"><h1>Groups</h1></div>

<div class="row">
  <div class="col"><strong>Nr:</strong></div>
  <div class="col"><strong>Nazwa:</strong></div>
  <div class="col"><strong>Kierunek:</strong></div>
  <div class="col"><strong>Lista studentów:</strong></div>
  <div class="col"><strong>Lista przedmiotów:</strong></div>
</div>

<div id="groups">
  <% @groups.each do |group| %>
    <%= render group %>
    <p>
      <%= link_to "Show this group", group, class: "btn btn-sm btn-primary" %>
    </p>
  <% end %>
</div>

<%= link_to "New group", new_group_path, class: "btn btn-sm btn-primary" %>
