<% content_for :title, "New group" %>

<div class="row" style="background-color: #CCCCCC"><h1>New group<h1></div>

  <%= turbo_frame_tag "Group_edit" do %>
    <%= render "form", group: @group %>
  <% end %>

<br>

<div>
  <%= link_to "Back to groups", groups_path, class: "btn btn-sm btn-primary" %>
</div>
