<div id="<%= dom_id course %>">
  <p>
    <strong>Nazwa:</strong>
    <%= course.nazwa %>
  </p>

  <p>
    <strong>Lista grup:</strong><br>
    <% course.groups.each do |group| %>
      <%= group.nazwa %><br>
    <% end %>
  </p>

</div>
