<div id="<%= dom_id course %>">

  <div class="row">
    <hr>
    <div class="col-2">
      <%= course.nazwa %>
    </div>
    <div class="col">
      <% course.groups.each do |group| %>
        <%= group.nazwa %> <%= link_to 'Oceny', grade_course_path(course.id, group.id), class: "btn btn-sm btn-primary" %><br>
      <% end %>
    </div>
  </div>
</div>
