<% content_for :title, "Editing course" %>

<h1>Editing course</h1>

<%= render "form", course: @course %>

<br>

<div>
  <%= link_to "Show this course", @course, class: "btn btn-sm btn-primary" %> |
  <%= link_to "Back to courses", courses_path, class: "btn btn-sm btn-primary" %>
</div>
