<% content_for :title, "New course" %>

<div class="row" style="background-color: #CCCCCC"><h1>New course<h1></div>

<%= render "form", course: @course %>

<br>

<div>
  <%= link_to "Back to courses", courses_path, class: "btn btn-sm btn-primary" %>
</div>
