<% content_for :title, "Editing field" %>

<h1>Editing field</h1>

<%= render "form", field: @field %>

<br>

<div>
  <%= link_to "Show this field", @field, class: "btn btn-sm btn-primary" %>
  <%= link_to "Back to fields", fields_path, class: "btn btn-sm btn-primary" %>
</div>
